<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <title>Pinjobs</title>
</head>

<body>
    <div id="landing" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="text-center">
                    <h5>Welcome to Pinjobs</h5>
                    <h7>Easy to use tech search engine..</h7>
                </div>
                <div class="modal-body">
                    <input class="form-control form-control-lg" type="text" placeholder="Email"><br>
                    <input class="form-control form-control-lg" type="text" placeholder="Create a Password"><br>
                    <input class="form-control form-control-lg" type="text" placeholder="Career"><br>
                </div>
                <div class="text-center">
                    <button id="login" type="button" class="btn btn-danger btn-lg btn-block">Log-In</button>
                </div>
                <h8>SIGN UP FOR FREE</h8>
            </div>
        </div>
    </div>
    <script>
        $("#landing").modal("toggle")</script>
</body>

</html>